<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

	<title>Ipung Salon</title>
	<link rel="icon" href="media/images/slide/logo_salon.png" type="image/x-icon">
	<!-- Loading third party fonts -->
	<!-- <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,700" rel="stylesheet" type="text/css"> -->
	<link href="media/fonts/font-awesome.min.css" rel="stylesheet" type="text/css">
	<!-- Loading main css file -->
	<link rel="stylesheet" href="media/css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="media/css/animate.min.css" type="text/css">
	<link rel="stylesheet" href="media/css/ionicons.min.css" type="text/css">
	<!-- <link rel="stylesheet" href="media/css/custom.css" type="text/css"> -->
	<link rel="stylesheet" href="style.css" type="text/css">

</head>

<body>

	<body>
		
		<nav class="navbar navbar-findcond navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Salon IPung</a>
				</div>
				<div class="collapse navbar-collapse" id="navbar">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="ion-email"></i> Contact Person <span class="badge">0</span></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="#"><i class="fa fa-fw fa-tag"></i> <span class="badge">BBM</span> 098675 </a></li>
								<li><a href="#"><i class="fa fa-fw fa-thumbs-o-up"></i> <span class="badge">WA</span> 089602824560</a></li>
								<li><a href="#"><i class="fa fa-fw fa-thumbs-o-up"></i> <span class="badge">SMS</span> 08962876288</a></li>
								<li><a href="#"><i class="fa fa-fw fa-thumbs-o-up"></i> <span class="badge">Ig</span>  @Ipung</a></li>
							</ul>
						</li>
						<li class="active"><a href="#"> +1 344 5345 5345  <span class="sr-only">(current)</span></a></li>
					</ul>
					<form class="navbar-form navbar-right search-form" role="search">
						<input type="text" class="form-control" placeholder="Search" />
					</form>
				</div>
			</div>
		</nav>


		<div id="site-content">

			<header class="site-header wow fadeInDown">
				<div class="container">
					<div class="header-content">
						<div class="branding">
							<a href="index.html"><img src="media/images/slide/logo_salon.png" alt="Company Name" class="logo"></a>
							<h1 class="site-title"></h1>
							<small class="site-description"></small>
						</div>

						<nav class="main-navigation">
							<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
							<ul class="menu">
								<li class="menu-item"><a href="about-us.html">Tentang</a></li>
								<li class="menu-item  current-menu-item"><a href="our-offer.html">Produk</a></li>
								<li class="menu-item"><a href="customer-protection.html">Cabang</a></li>
								<li class="menu-item"><a href="galeri.html">Galeri</a></li>
								<li class="menu-item"><a href="contact.html">Kontak</a></li>
							</ul>
						</nav>

						<div class="social-links">
							<a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
							<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
							<a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
							<a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a>
						</div>
					</div>
					<nav class="breadcrumbs">
						<a href="index.html">Home</a> &rarr;
						<span>Cabang</span>
					</nav>
				</div>
			</header> <!-- .site-header -->

			<main class="content">
				<div class="fullwidth-block">
					<div class="container">
						<div class="row">
							<div class="col-md-8 wow fadeInLeft">
								<h2 class="section-title">Cabang Salon Ipung</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vestibulum sit amet magna ac bibendum. Cras sit amet maximus neque, sed gravida arcu. Morbi enim quam, eleifend sit amet neque iaculis, ullamcorper fermentum eros. Sed suscipit dolor felis, et congue nulla porta non. Cras tristique sodales ante, at cursus sem finibus sit amet. Quisque id nulla nibh. Phasellus mollis pretium placerat. Suspendisse in ante tellus.</p> 

								<div class="row">
									<div class="col-md-3 col-xs-6">
										<h4>Beauty Ipung</h4>
										<ul class="list-arrow">
											<li>Cras tristique sodales</li>
											<li>Cursus sem finibus</li>
											<li>Qesnique autumm</li>
											<li>Ambregedul Amesyu</li>
											<li>Bahreway bahreway</li>
										</ul>
									</div>
									<div class="col-md-3 col-xs-6">
										<h4>Clinic Center</h4>
										<ul class="list-arrow">
											<li>Cras tristique sodales</li>
											<li>Cursus sem finibus</li>
											<li>Qesnique autumm</li>
											<li>Ambregedul Amesyu</li>
											<li>Bahreway bahreway</li>
										</ul>
									</div>
									<div class="col-md-3 col-xs-6">
										<h4>Bosy Spa Center</h4>
										<ul class="list-arrow">
											<li>Cras tristique sodales</li>
											<li>Cursus sem finibus</li>
											<li>Qesnique autumm</li>
											<li>Ambregedul Amesyu</li>
											<li>Bahreway bahreway</li>
										</ul>
									</div>
									<div class="col-md-3 col-xs-6">
										<h4>Pijat Refleksi</h4>
										<ul class="list-arrow">
											<li>Cras tristique sodales</li>
											<li>Cursus sem finibus</li>
											<li>Qesnique autumm</li>
											<li>Ambregedul Amesyu</li>
											<li>Bahreway bahreway</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-md-push-1 wow fadeInRight">
								<h2 class="section-title">Categories</h2>
								<ul class="list-arrow alt">
									<li><a href="our-offer.html">Man</a></li>
									<li><a href="our-offer.html">Woman</a></li>
									<li><a href="our-offer.html">Teer</a></li>
									<li><a href="our-offer.html">Hair Series</a></li>
									<li><a href="our-offer.html">Body Spa</a></li>
								</ul>
							</div>
						</div>

					</div>

				</div>

				
			</main> <!-- .content -->

			<footer class="site-footer wow fadeInUp">
				<div class="footer-top">
					<div class="container">
						<div class="row">
							<div class="col-md-3 col-sm-6">
								<div class="widget">
									<h3 class="widget-title">About us</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus animi asperiores magnam ducimus laboriosam soluta, odio doloribus, voluptas numquam facilis consectetur nam in repudiandae commodi odit iste sed doloremque repellat.</p>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="widget">
									<h3 class="widget-title">Helpful Links</h3>
									<ul class="list-arrow">
										<li><a href="#">Labore et dolore magnam</a></li>
										<li><a href="#">Dolore magnam</a></li>
										<li><a href="#">Magnam Labore et</a></li>
										<li><a href="#">Dolore mabore magnam</a></li>
										<li><a href="#">Et dolore magnam</a></li>
									</ul>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="widget">
									<h3 class="widget-title">Helpful Links</h3>
									<ul class="list-arrow">
										<li><a href="#">Labore et dolore magnam</a></li>
										<li><a href="#">Dolore magnam</a></li>
										<li><a href="#">Magnam Labore et</a></li>
										<li><a href="#">Dolore mabore magnam</a></li>
										<li><a href="#">Et dolore magnam</a></li>
									</ul>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="widget widget-customer-info">
									<h3 class="widget-title">Customer Service</h3>
									<img src="media/images/slide/produk/cs.png" alt="" width="20%" class="pull-left">
									<div class="cs-info">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim voluptates pariatur vero.</p>
										<p>+1 421 458 321 <br> <a href="mailto:nazihbopas@gmail.com">nazihbopas@gmail.com</a></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="footer-bottom">
					<div class="container">
						<div class="branding pull-left">
							<img src="media/images/slide/logo_salon.png" alt="Company Name" class="logo">
							<h1 class="site-title"><a href="index.html">Company Name</a></h1>
							<small class="site-description">Tagline goes here</small>
						</div>

						<div class="contact-links pull-right">
							<a href="https://goo.gl/maps/oQKxg"><i class="fa fa-map-marker"></i> 983 Avenue Street, New York</a>
							<a href="tel:+134453455345"><i class="fa fa-phone"></i> +1 344 5345 5345</a>
							<a href="mailto:nazihbopas@gmail.com"><i class="fa fa-envelope"></i> nazihbopas@gmail.com</a>
						</div>
					</div>
				</div>
				<div class="colophon">
					<div class="container">
						<p class="copy">Copyright 2014 Company Name, Designed by Bopas, All right reserved.</p>
					</div>
				</div>
			</footer> <!-- .site-footer -->

		</div> <!-- #site-content -->
		<script src="media/js/jquery-1.11.1.min.js"></script>
		<script src="media/js/bootstrap.min.js"></script>
		<script src="media/js/min/plugins-min.js"></script>


	</body>

	</html>