<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

        <title>Ipung Salon</title>
        <link rel="icon" href="media/images/slide/logo_salon.png" type="image/x-icon">
        <!-- Loading third party fonts -->
        <link href="media/fonts/font-awesome.min.css" rel="stylesheet" type="text/css">
        <!-- Loading main css file -->
        <link rel="stylesheet" href="media/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="media/css/animate.min.css" type="text/css">
        <link rel="stylesheet" href="media/css/ionicons.min.css" type="text/css">
        <!-- <link rel="stylesheet" href="media/css/custom.css" type="text/css"> -->
        <link rel="stylesheet" href="style.css" type="text/css">

    </head>

    <body class="slider-collapse">

        <nav class="navbar navbar-findcond navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Salon IPung</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="ion-email"></i> Contact Person <span class="badge">0</span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#"><i class="fa fa-fw fa-tag"></i> <span class="badge">BBM</span> 098675 </a></li>
                                <li><a href="#"><i class="fa fa-fw fa-thumbs-o-up"></i> <span class="badge">WA</span> 089602824560</a></li>
                                <li><a href="#"><i class="fa fa-fw fa-thumbs-o-up"></i> <span class="badge">SMS</span> 08962876288</a></li>
                                <li><a href="#"><i class="fa fa-fw fa-thumbs-o-up"></i> <span class="badge">Ig</span>  @Ipung</a></li>
                            </ul>
                        </li>
                        <li class="active"><a href="#"> +1 344 5345 5345  <span class="sr-only">(current)</span></a></li>
                    </ul>
                    <form class="navbar-form navbar-right search-form" role="search">
                        <input type="text" class="form-control" placeholder="Search" />
                    </form>
                </div>
            </div>
        </nav>

        <div id="site-content">

            <header class="site-header wow fadeInDown">
                <div class="container">
                    <div class="header-content">
                        <div class="branding">
                            <img src="media/images/slide/logo_salon.png" alt="Company Name" class="logo">
                            <h1 class="site-title"><a href="index.html"></a></h1>
                            <small class="site-description"></small>
                        </div>

                        <nav class="main-navigation">
                            <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
                            <ul class="menu">
                                <li class="menu-item"><a href="about-us.html">Tentang</a></li>
                                <li class="menu-item"><a href="our-offer.html">Produk</a></li>
                                <li class="menu-item"><a href="customer-protection.html">Cabang</a></li>
                                <li class="menu-item"><a href="galeri.html">Galeri</a></li>
                                <li class="menu-item"><a href="contact.html">Kontak</a></li>
                            </ul>
                        </nav>

                        <div class="social-links">
                            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                            <a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </header> <!-- .site-header -->

            <main class="content">


                <div class="slider">
                    <ul class="slides">
                        <li data-background="media/images/slide/back.png" style="background-size: cover;background-position: center;background-attachment: fixed;  display: block;">
                            <div class="container">
                                <div class="slide-caption col-md-4">
                                    <h2 class="slide-title"><a href="" style="color:#1da1f2;">Dr.Muhammad Nazih</a></h2>
                                    <p style="color:#000;">Tahun ini, genap 12 tahun saya mempercayakan perawatan kulit pada Natasha. Sejak saya SMA hingga kini dimana saya sedang menempuh pendidikan spesialis, Natasha membuat kulit saya tetap sehat di tengah kesibukan yang selalu padat. Memasuki kepala 3, banyak kawan dan pasien menyangka saya masih koas!</p>
                                </div>
                            </div>
                        </li>
                        <li data-background="media/images/slide/slide-14.jpg" style="background-size: cover;background-position: center;background-attachment: fixed; display: block;">
                            <div class="container">
                                <div class="slide-caption col-md-4">
                                    <h2 class="slide-title"><a href="" style="color:#1da1f2;">Dr.Bopas</a></h2>
                                    <p style="color:#000;">Tahun ini, genap 12 tahun saya mempercayakan perawatan kulit pada Natasha. Sejak saya SMA hingga kini dimana saya sedang menempuh pendidikan spesialis, Natasha membuat kulit saya tetap sehat di tengah kesibukan yang selalu padat. Memasuki kepala 3, banyak kawan dan pasien menyangka saya masih koas! </p>
                                </div>
                            </div>
                        </li>
                        <li data-background="media/images/slide/slide-8.jpg" style="background-size: cover;background-position: center;background-attachment: fixed; display: block;">
                            <div class="container">
                                <div class="slide-caption col-md-4">
                                    <h2 class="slide-title"><a href="" style="color:#1da1f2;">Natasha Raih Women’s Health Beauty Choice 2016</a></h2>
                                    <p style="color:#000;">Perkembangan industri kecantikan di Indonesia akhir-akhir ini sangatlah pesat. Berbagai brand baru bermunculan dengan sangat cepat, berlomba-lomba menawarkan keunggulannya masing-masing. </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="flexslider-controls">
                        <div class="container">
                            <ol class="flex-control-nav">
                                <li><a>1</a></li>
                                <li><a>2</a></li>
                                <li><a>3</a></li>
                            </ol>
                        </div>
                    </div>
                </div>

                <div class="fullwidth-block features-section">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="feature left-icon wow fadeInLeft" data-wow-delay=".3s">
                                    <i class="icon-hotel"></i>
                                    <h3 class="feature-title"><a href="">IPUNG SKIN CLINIC CENTER</a></h3>
                                    <p>Natasha Skin Clinic Center memiliki dokter dan para tenaga ahli yang berkompetensi dibidangnya, dengan adanya tim-tim tersebut maka bisa didapatkan kenyamanan anda mengguakan produk sudah terjamin.</p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="feature left-icon wow fadeInLeft">
                                    <i class="icon-sun"></i>
                                    <h3 class="feature-title"><a href="">IPUNG SKIN CLINIC CENTER</a></h3>
                                    <p>Ipung Skin Clinic Center dengan konsep Nature Meets Technology yang merupakan perpaduan sempurna antara bahan-bahan aktif kosmetik botanical/herbal dengan alat-alat kecantikan berteknologi tinggi.</p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <div class="feature left-icon wow fadeInRight">
                                    <i class="icon-island"></i>
                                    <h3 class="feature-title"><a href="">IPUNG SKIN CLINIC CENTER</a></h3>
                                    <p>Natasha Skin Clinic Center memiliki produk-produk yang menggunakan bahan-bahan botanical yang menggunakan teknologi modern serta memberikan hasil yang optimal dan aman untuk kulit pada usia remaja, pria dan wanita dewasa.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="fullwidth-block offers-section" data-bg-color="#f8f8f8">
                    <div class="container">
                        <h2 class="section-title"><a href="our-offer.html">CATALOG</a> <a href="our-offer.html" class="btn btn-lg btn-default pull-right wow bounce">List Produk</a></h2>
                        <div class="filter-links filterable-nav">
                            <select class="mobile-filter">
                                <option value="*">Show all</option>
                                <option value=".south-america">Man</option>
                                <option value=".asia">Woman</option>
                                <option value=".africa">Teen</option>
                                <option value=".north-america">Hair Series</option>
                                <option value=".europe">Parfum</option>
                                <option value=".australia">Bosy Spa</option>	
                            </select>
                            <a href="#" class=" current wow fadeInRight" data-filter="*">Show all</a>
                            <a href="#" class="wow fadeInRight" data-wow-delay=".2s" data-filter=".south-america">Man</a>
                            <a href="#" class="wow fadeInRight" data-wow-delay=".4s" data-filter=".asia">Women</a>
                            <a href="#" class="wow fadeInRight" data-wow-delay=".6s" data-filter=".africa">Teen</a>
                            <a href="#" class="wow fadeInRight" data-wow-delay=".8s" data-filter=".north-america">Hair Series</a>
                            <a href="#" class="wow fadeInRight" data-wow-delay="1s" data-filter=".europe">Parfum</a>
                            <a href="#" class="wow fadeInRight" data-wow-delay="1.2s" data-filter=".australia">Body Spa</a>
                        </div>
                        <div class="filterable-items">
                            <div class="filterable-item south-america">
                                <article class="offer-item">
                                    <figure class="featured-image">
                                        <div class="imgLiquidFill imgLiquid imgLiquid_bgSize imgLiquid_ready" style="max-height: 190px; height: 190px; border-radius: 5px; background-image: url(&quot;media/images/slide/produk/ponds.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat;">
                                            <img class="img-responsive" src="media/images/slide/produk/garmen.jpeg" alt="" >
                                        </div>
                                    </figure>
                                    <div class="price pull-right">
                                        <a href="detail.html" class="button">Detail</a>
                                    </div>
                                    <h2 class="entry-title"><a href="#">GARNIER MAN</a></h2>
                                    <p>Categori: Man</p>
                                </article>
                            </div>
                            <div class="filterable-item asia">
                                <article class="offer-item">
                                    <figure class="featured-image">
                                        <div class="imgLiquidFill imgLiquid imgLiquid_bgSize imgLiquid_ready" style="max-height: 190px; height: 190px; border-radius: 5px; background-image: url(&quot;media/images/slide/produk/ponds.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat;">
                                            <img class="img-responsive" src="media/images/slide/produk/garnier.jpeg" alt="">
                                        </div>
                                    </figure>
                                    <div class="price pull-right">
                                        <a href="detail.html" class="button">Detail</a>
                                    </div>
                                    <h2 class="entry-title"><a href="#">GARNIER</a></h2>
                                    <p>Categori: Women</p>
                                </article>
                            </div>
                            <div class="filterable-item africa">
                                <article class="offer-item">
                                    <figure class="featured-image">
                                        <div class="imgLiquidFill imgLiquid imgLiquid_bgSize imgLiquid_ready" style="max-height: 190px; height: 190px; border-radius: 5px; background-image: url(&quot;media/images/slide/produk/ponds.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat;">
                                            <img class="img-responeive" src="media/images/slide/produk/Pureglow.jpg" alt="">
                                        </div>
                                    </figure>
                                    <div class="price pull-right">
                                        <a href="detail.html" class="button">Detail</a>
                                    </div>
                                    <h2 class="entry-title"><a href="#">PUREGLOW</a></h2>
                                    <p>Categori: Teen</p>
                                </article>
                            </div>
                            <div class="filterable-item north-america">
                                <article class="offer-item">
                                    <figure class="featured-image">
                                        <div class="imgLiquidFill imgLiquid imgLiquid_bgSize imgLiquid_ready" style="max-height: 190px; height: 190px; border-radius: 5px; background-image: url(&quot;media/images/slide/produk/ponds.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat;">
                                            <img src="media/images/slide/produk/hairspa.jpg" alt="">
                                        </div>
                                    </figure>
                                    <div class="price pull-right">
                                        <a href="detail.html" class="button">Detail</a>
                                    </div>
                                    <h2 class="entry-title"><a href="#">HAIRSPA</a></h2>
                                    <p>Categori: Hair Series</p>
                                </article>
                            </div>
                            <div class="filterable-item europe">
                                <article class="offer-item">
                                    <figure class="featured-image">
                                        <div class="imgLiquidFill imgLiquid imgLiquid_bgSize imgLiquid_ready" style="max-height: 190px; height: 190px; border-radius: 5px; background-image: url(&quot;media/images/slide/produk/ponds.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat;">
                                            <img class="img-responsive" src="media/images/slide/produk/parfum.jpg" alt="" >
                                        </div>
                                    </figure>
                                    <div class="price pull-right">
                                        <a href="detail.html" class="button">Detail</a>
                                    </div>
                                    <h2 class="entry-title"><a href="#">JAGUAR</a></h2>
                                    <p>Categori: Parfum</p>
                                </article>
                            </div>
                            <div class="filterable-item australia">
                                <article class="offer-item">
                                    <figure class="featured-image">
                                        <div class="imgLiquidFill imgLiquid imgLiquid_bgSize imgLiquid_ready" style="max-height: 190px; height: 190px; border-radius: 5px; background-image: url(&quot;media/images/slide/produk/ponds.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat;">
                                            <img class="img-responsive" src="media/images/slide/produk/lulur.jpg" alt="" >
                                        </div>
                                    </figure>
                                    <div class="price pull-right">
                                        <a href="detail.html" class="button">Detail</a>
                                    </div>
                                    <h2 class="entry-title"><a href="#">LULUR IBU</a></h2>
                                    <p>Categori: Body Spa</p>
                                </article>
                            </div>
                            <div class="filterable-item south-america">
                                <article class="offer-item">
                                    <figure class="featured-image">
                                        <div class="imgLiquidFill imgLiquid imgLiquid_bgSize imgLiquid_ready" style="max-height: 190px; height: 190px; border-radius: 5px; background-image: url(&quot;media/images/slide/produk/ponds.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat;">
                                            <img class="img-responsive" src="media/images/slide/produk/gatsbi.jpg" alt="" >
                                        </div>
                                    </figure>
                                    <div class="price pull-right">
                                        <a href="detail.html" class="button">Detail</a>
                                    </div>
                                    <h2 class="entry-title"><a href="#">GATSBY</a></h2>
                                    <p>Categori: Man</p>
                                </article>
                            </div>
                            <div class="filterable-item asia">
                                <article class="offer-item">
                                    <figure class="featured-image">
                                        <div class="imgLiquidFill imgLiquid imgLiquid_bgSize imgLiquid_ready" style="max-height: 190px; height: 190px; border-radius: 5px; background-image: url(&quot;media/images/slide/produk/ponds.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat;">
                                            <img class="img-responsive" src="media/images/slide/produk/wardah.jpg" alt="" >
                                        </div>
                                    </figure>
                                    <div class="price pull-right">
                                        <a href="detail.html" class="button">Detail</a>
                                    </div>
                                    <h2 class="entry-title"><a href="#">WARDAH</a></h2>
                                    <p>Categori: Woman</p>
                                </article>
                            </div>
                            <div class="filterable-item africa">
                                <article class="offer-item">
                                    <figure class="featured-image">
                                        <div class="imgLiquidFill imgLiquid imgLiquid_bgSize imgLiquid_ready" style="max-height: 190px; height: 190px; border-radius: 5px; background-image: url(&quot;media/images/slide/produk/ponds.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat;">
                                            <img class="img-responsive" src="media/images/slide/produk/garnier2.jpg" alt="" >
                                        </div>
                                    </figure>
                                    <div class="price pull-right">
                                        <a href="detail.html" class="button">Detail</a>
                                    </div>
                                    <h2 class="entry-title"><a href="#">GARNIER</a></h2>
                                    <p>Categori: Teen</p>
                                </article>
                            </div>
                            <div class="filterable-item north-america">
                                <article class="offer-item">
                                    <figure class="featured-image">
                                        <div class="imgLiquidFill imgLiquid imgLiquid_bgSize imgLiquid_ready" style="max-height: 190px; height: 190px; border-radius: 5px; background-image: url(&quot;media/images/slide/produk/ponds.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat;">
                                            <img class="img-responsive" src="media/images/slide/produk/matrik.jpg" alt="" >
                                        </div>
                                    </figure>
                                    <div class="price pull-right">
                                        <a href="our-offer.html" class="button">Detail</a>
                                    </div>
                                    <h2 class="entry-title"><a href="#">MATRIK</a></h2>
                                    <p>Categori: Hair Series</p>
                                </article>
                            </div>
                            <div class="filterable-item europe">
                                <article class="offer-item">
                                    <figure class="featured-image">
                                        <div class="imgLiquidFill imgLiquid imgLiquid_bgSize imgLiquid_ready" style="max-height: 190px; height: 190px; border-radius: 5px; background-image: url(&quot;media/images/slide/produk/ponds.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat;">
                                            <img class="img-responsive" src="media/images/slide/produk/nature.jpg" alt="" >
                                        </div>
                                    </figure>
                                    <div class="price pull-right">
                                        <a href="detail.html" class="button">Detail</a>
                                    </div>
                                    <h2 class="entry-title"><a href="#">NATURE</a></h2>
                                    <p>Categori: Parfum</p>
                                </article>
                            </div>
                            <div class="filterable-item australia">
                                <article class="offer-item">
                                    <figure class="featured-image">
                                        <div class="imgLiquidFill imgLiquid imgLiquid_bgSize imgLiquid_ready" style="max-height: 190px; height: 190px; border-radius: 5px; background-image: url(&quot;media/images/slide/produk/ponds.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat;">
                                            <img class="img-responsive" src="media/images/slide/produk/strawberi.jpg" alt="" >
                                        </div>
                                    </figure>
                                    <div class="price pull-right">
                                        <a href="detail.html" class="button">Detail</a>
                                    </div>
                                    <h2 class="entry-title"><a href="#">STRAWBERI</a></h2>
                                    <p>Categori: Body Spa</p>
                                </article>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="fullwidth-block testimonial-section">
                    <div class="container">
                        <h2 class="section-title">Testimonials</h2>
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="testimonial wow fadeInUp">
                                    <figure class="avatar"><img src="media/images/testimoni/foto-1.jpg" alt=""></figure>
                                    <div class="testimonial-body">
                                        <p>Tahun ini, genap 12 tahun saya mempercayakan perawatan kulit pada Natasha.</p>
                                        <cite>Jessica Tracy</cite>
                                        <span>Creative agency CEO</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="testimonial wow fadeInUp" data-wow-delay=".2s">
                                    <figure class="avatar"><img src="media/images/testimoni/foto-2.jpg" alt=""></figure>
                                    <div class="testimonial-body">
                                        <p>Tahun ini, genap 12 tahun saya mempercayakan perawatan kulit pada Natasha.</p>
                                        <cite>John Smith</cite>
                                        <span>Traveler</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="testimonial wow fadeInUp" data-wow-delay=".4s">
                                    <figure class="avatar"><img src="media/images/testimoni/foto-3.jpeg" alt=""></figure>
                                    <div class="testimonial-body">
                                        <p>Tahun ini, genap 12 tahun saya mempercayakan perawatan kulit pada Natasha.</p>
                                        <cite>Susan Webb</cite>
                                        <span>Hairdresser</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="testimonial wow fadeInUp" data-wow-delay=".6s">
                                    <figure class="avatar"><img src="media/images/testimoni/foto-4.jpg" alt=""></figure>
                                    <div class="testimonial-body">
                                        <p>Tahun ini, genap 12 tahun saya mempercayakan perawatan kulit pada Natasha.</p>
                                        <cite>Sarah Brown</cite>
                                        <span>Athlete</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </main> <!-- .content -->

            <footer class="site-footer wow fadeInUp">
                <div class="footer-top">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <div class="widget">
                                    <h3 class="widget-title">About us</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus animi asperiores magnam ducimus laboriosam soluta, odio doloribus, voluptas numquam facilis consectetur nam in repudiandae commodi odit iste sed doloremque repellat.</p>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="widget">
                                    <h3 class="widget-title">Helpful Links</h3>
                                    <ul class="list-arrow">
                                        <li><a href="#">Labore et dolore magnam</a></li>
                                        <li><a href="#">Dolore magnam</a></li>
                                        <li><a href="#">Magnam Labore et</a></li>
                                        <li><a href="#">Dolore mabore magnam</a></li>
                                        <li><a href="#">Et dolore magnam</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="widget">
                                    <h3 class="widget-title">Helpful Links</h3>
                                    <ul class="list-arrow">
                                        <li><a href="#">Labore et dolore magnam</a></li>
                                        <li><a href="#">Dolore magnam</a></li>
                                        <li><a href="#">Magnam Labore et</a></li>
                                        <li><a href="#">Dolore mabore magnam</a></li>
                                        <li><a href="#">Et dolore magnam</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="widget widget-customer-info">
                                    <h3 class="widget-title">Customer Service</h3>
                                    <img src="media/images/slide/produk/cs.png" alt="" width="20%" class="pull-left">
                                    <div class="cs-info">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim voluptates pariatur vero.</p>
                                        <p>+1 421 458 321 <br> <a href="mailto:nazihbopas@gmail.com">nazihbopas@gmail.com</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="footer-bottom">
                    <div class="container">
                        <div class="branding pull-left">
                            <img src="media/images/slide/logo_salon.png" alt="Company Name" class="logo">
                            <h1 class="site-title"><a href="index.html">Salon Ipung</a></h1>
                            <small class="site-description">Skin Beauty Center</small>
                        </div>

                        <div class="contact-links pull-right">
                            <a href="https://goo.gl/maps/oQKxg" target="_blank"><i class="fa fa-map-marker"></i> 983 Avenue Street, New York</a>
                            <a href="tel:+134453455345"><i class="fa fa-phone"></i> +896-0282-4560</a>
                            <a href="mailto:nazihbopas@gmail.com"><i class="fa fa-envelope"></i> nazihbopas@gmail.com</a>
                        </div>
                    </div>
                </div>
                <div class="colophon">
                    <div class="container">
                        <p class="copy">Copyright 2016 Company Name, Designed by Bopas, All right reserved.</p>
                    </div>
                </div>
            </footer> <!-- .site-footer -->

        </div> <!-- #site-content -->


        <script src="media/js/jquery-1.11.1.min.js"></script>
        <script src="media/js/bootstrap.min.js"></script>
        <script src="media/js/min/plugins-min.js"></script>
        <script src="media/js/min/app-min.js"></script>

    </body>

</html>